<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
  <div class="sidebar_wrapper">
    <a href="#" class="close-sidebar sidebar_toggle_btn">
      <%= image_tag "close.png", class: "img-responsive" %>
    </a>
    <div class="sidebar_inner">
      <div class="sidebar_header">
        <div class="dropdown sidebar_user">
          <div class="welcome-section" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <div class="avatar">
              <%= image_tag "avatar.png", class: "img-responsive" %>
            </div>
            <div class="welcome-text">
              <div class="welcome">Hello</div>
              <div class="name">Jasmeen Josh</div>
            </div>
            <a class="btn dropdown-toggle" type="button">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <div class="btn-group sidebar_boxed_menu" role="group">
          <div class="btn-group text-center frist" role="group">
            <a href="#">
              <div class="icon">
                <span><i class="fa fa-dropbox" aria-hidden="true"></i></span>
              </div>
              <div class="text">
                <span>My Order</span>
              </div>
            </a>
          </div>
          <div class="btn-group text-center second" role="group">
            <a href="#">
              <div class="icon">
                <span><i class="fa fa-heart-o" aria-hidden="true"></i></span>
              </div>
              <div class="text">
                <span>My Wishlist</span>
              </div>
            </a>
          </div>
          <div class="btn-group text-center third" role="group">
            <a href="#">
              <div class="icon">
                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              </div>
              <div class="text">
                <span>My Address</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="sidebar_menu_wrapper">
        <div class="sidebar_menu_inner">
          <ul class="nav sidebar-nav">
            <li class="menu-title">
              All Categories
            </li>
            <li>
              <a href="#">General Sevices</a>
            </li>
            <li>
              <a href="#">Luxury</a>
            </li>
            <li>
              <a href="#">Ramdan Offers</a>
            </li>
            <li>
              <a href="#">Summer Saver Offers</a>
            </li>
            <li>
              <a href="#">Travel & Turism</a>
            </li>
            <li>
              <a href="#">Watches</a>
            </li>
            <li>
              <a href="#">Electronics</a>
            </li>
            <li>
              <a href="#">Fashion</a>
            </li>
            <li>
              <a href="#">Baby & Kids</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-angle-down" aria-hidden="true"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li role="separator" class="dashed-divider"></li>
            <li class="menu-title grey">
              Account Info
            </li>
            <li>
              <a href="#">My Profile</a>
            </li>
            <li>
              <a href="#">Change Password</a>
            </li>
            <li role="separator" class="dashed-divider"></li>
            <li class="menu-title grey">
              Language
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                English
                <%= image_tag "english.png", class: "img-responsive" %>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li role="separator" class="dashed-divider"></li>
            <li class="menu-title grey">
              Quick Links
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
            <li>
              <a href="#">Terms & Conditions</a>
            </li>
            <li>
              <a href="#">Legal Information</a>
            </li>
            <li>
              <a href="#">All Merchants</a>
            </li>
            <li>
              <a href="#">Merchant Login</a>
            </li>
            <li role="separator" class="dashed-divider"></li>
            <li>
              <a href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
